h1 {
    font-size: 80px;
    line-height: 88px;
    letter-spacing: normal;
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: normal;
}